* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active, a, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  color: white;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  min-height: 927px;
}

.block-for-image {
  position: absolute;
  left: 0;
  top: 0;
}
.block-for-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url("../assets/img/background.jpg") 0/cover no-repeat;
  color: white;
  position: relative;
  overflow: hidden;
}
.wrapper .salad {
  padding: 0 24.0138888889% 22.3138888889% 0;
  left: 79.8611111111%;
  top: 0.1078748652%;
  left: 75.9861111111%;
  overflow: hidden;
}
.wrapper .salad img {
  transform: rotate(5deg);
  transform: translate(0, -5px);
}
.wrapper .pepper {
  padding: 0 9.2944444444% 6.2638888889% 0;
  left: 15.2777777778%;
  top: 17.5836030205%;
}
.wrapper .india-flowers {
  padding: 0 18.4645833333% 18.4645833333% 0;
  left: -1.0416666667%;
  top: 38.3570658037%;
}
.wrapper .india-flowers img {
  transform: rotate(-6deg);
}
.wrapper .tomato {
  padding: 0 12.8472222222% 11.3194444444% 0;
  left: 83.3333333333%;
  top: 37.0010787487%;
}
.wrapper .garlic {
  padding: 0 20.6166666667% 20.5090277778% 0;
  left: 1.5972222222%;
  top: 65.8036677454%;
  overflow: hidden;
}
.wrapper .beans {
  padding: 0 14.4444444444% 14.4444444444% 0;
  left: 86.4583333333%;
  top: 79.5037756203%;
  bottom: 0;
}

.content {
  position: relative;
  flex: 1 1 auto;
}
.content .olives {
  padding: 0 13.8888888889% 13.8888888889% 0;
  left: 10.1388888889%;
  top: 72.7076591154%;
}
.content .cheese {
  padding: 0 8.0555555556% 8.0555555556% 0;
  left: 17.0138888889%;
  top: 59.2233009709%;
}
.content .red-pepper {
  padding: 0 8.6805555556% 8.6805555556% 0;
  left: 27.2222222222%;
  top: 44.3365695793%;
}
.content .pepperoni {
  padding: 0 6.25% 6.1805555556% 0;
  left: 41.25%;
  top: 39.5900755124%;
}
.content .bacon {
  padding: 0 8.6805555556% 8.6805555556% 0;
  left: 54.1666666667%;
  top: 36.6774541532%;
}
.content .chicken {
  padding: 0 7.8472222222% 7.8472222222% 0;
  left: 67.9166666667%;
  top: 46.3861920173%;
}
.content .meatballs {
  padding: 0 7.3611111111% 7.3611111111% 0;
  left: 76.1111111111%;
  top: 61.4886731392%;
}
.content .sausage {
  padding: 0 8.6805555556% 8.75% 0;
  left: 79.7916666667%;
  top: 77.8856526429%;
}

.head {
  position: relative;
  z-index: 2;
  padding: 51px 0 0 79px;
  display: flex;
  flex-wrap: wrap;
}
.head .logo {
  margin-right: 24%;
  font-size: 24px;
  font-family: "Bodoni MT";
  letter-spacing: 0.0625rem;
}
.head .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  width: 31%;
  min-width: 417px;
}
.head .menu div:first-child {
  text-decoration: underline;
}
.head .menu .menu__item {
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 982px) {
  .head {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;
  }
  .head .logo {
    margin: 0 0 10px 0;
  }
  .head .menu {
    width: 90%;
  }
  .head .menu .menu__item {
    font-size: 1.5rem;
  }
}
@media (min-width: 1500px) {
  .head {
    justify-content: space-around;
    padding-left: 0;
  }
  .head .menu {
    width: 50%;
  }
}