@import "_null.scss";

@mixin absoluteObject($width, $height, $left, $top) {
	padding: 0 $width/1440px * 100% $height/1440px * 100% 0;
	left: $left/1440px * 100%;
	top: $top/927px * 100%;
}

body{
	min-height: 927px;
}

.block-for-image{
	position: absolute;
	left: 0;
	top: 0;
	& img{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: url("../assets/img/background.jpg") 0/cover no-repeat;
	color: white;
	position: relative;
	overflow: hidden;
	
	.salad{
		@include absoluteObject(345.8px, 321.32px, 1150px, 1px);
		left: 100% - 345.8px/1440px * 100%;
		overflow: hidden;
		& img{
			transform: rotate(5deg);
			transform: translate(0, -5px);
		}
	}
	.pepper{
		@include absoluteObject(133.84px, 90.2px, 220px, 163px);
	}
	.india-flowers{
		@include absoluteObject(265.89px, 265.89px, -15px, 355.57px);
		& img{
			transform: rotate(-6deg);
		}
	}
	.tomato{
		@include absoluteObject(185px, 163px, 1200px, 343px );
	}
	.garlic{
		@include absoluteObject(296.88px, 295.33px, 23px, 610px);
		overflow: hidden;
	}
	.beans{
		@include absoluteObject(208px, 208px, 1245px, 737px);
		bottom: 0;
	}
}

.content{
	position: relative;
	flex: 1 1 auto;
	.olives{
		@include absoluteObject(200px, 200px, 146px, 674px);
	}
	.cheese{
		@include absoluteObject(116px, 116px, 245px, 549px);
	}
	.red-pepper{
		@include absoluteObject(125px, 125px, 392px, 411px);
	}
	.pepperoni{
		@include absoluteObject(90px, 89px, 594px, 367px);
	}
	.bacon{
		@include absoluteObject(125px, 125px, 780px, 340px);
	}
	.chicken{
		@include absoluteObject(113px, 113px, 978px, 430px);
	}
	.meatballs{
		@include absoluteObject(106px, 106px, 1096px, 570px);
	}
	.sausage{
		@include absoluteObject(125px, 126px, 1149px, 722px);
	}

}

.head {
	position: relative;
	z-index: 2;
	padding: 51px 0 0 79px;
	display: flex;
	flex-wrap: wrap;
	.logo {
		margin-right: 24%;
		font-size: 24px;
		font-family: 'Bodoni MT';
		letter-spacing: 0.0625rem;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'Inter';
		width: 31%;
		min-width: 417px;
		& div:first-child{
			text-decoration: underline;
		}
		.menu__item {
			font-weight: 500;
			font-size: 18px;
		}
	}
}

@media(max-width: 982px) {
	.head {
		flex-direction: column;
		align-items: center;
		padding: 10px 0 0 0;
		.logo {
			margin: 0 0 10px 0;
		}
		.menu{
			width: 90%;
			.menu__item{
				font-size: 1.5rem;
			}
		}
	}
}

@media(min-width: 1500px){
	.head{
		justify-content: space-around;
		padding-left: 0;
		.menu{
			width: 50%;
		}
	}
}


