@import "_null.scss";

@mixin absoluteObject($width, $height, $left, $top) {
	padding: 0 $width/1440px * 100% $height/1440px * 100% 0;
	left: $left/1440px * 100%;
	top: $top/1440px * 100%;
}

body{
	min-height: 927px;
}

.block-for-image{
	position: absolute;
	left: 0;
	top: 0;
	& img{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: url("../assets/img/background.jpg") 0/cover no-repeat;
	color: white;
	position: relative;
	overflow: hidden;
	
	.salad{
		@include absoluteObject(345.8px, 321.32px, 1150px, 1px);
		left: 100% - 345.8px/1440px * 100%;
		overflow: hidden;
		& img{
			transform: rotate(5deg);
			transform: translate(0, -5px);
		}
	}
	.pepper{
		@include absoluteObject(133.84px, 90.2px, 220px, 255px);
	}
	.india-flowers{
		@include absoluteObject(265.89px, 265.89px, -15px, 450px);
		& img{
			transform: rotate(-6deg);
		}
	}
	.tomato{
		@include absoluteObject(185px, 163px, 1200px, 535px );
	}
	.garlic{
		@include absoluteObject(296.88px, 295.33px, 23px, 950px);
		overflow: hidden;
	}
	.beans{
		@include absoluteObject(208px, 208px, 1245px, 1037px);
		bottom: 0;
	}
}


.head {
	position: relative;
	z-index: 2;
	padding: 51px 0 0 79px;
	display: flex;
	flex-wrap: wrap;

	.head__open-menu {
		display: none;
	}

	.logo {
		margin-right: 24%;
		font-size: 24px;
		font-family: 'Bodoni MT';
		letter-spacing: 0.0625rem;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: 'Inter';
		width: 31%;
		min-width: 417px;

		& div:first-child {
			text-decoration: underline;
		}

		.menu__item {
			font-weight: 500;
			font-size: 18px;
		}
	}
}

.content{
	position: relative;
	flex: 1 1 auto;
	.content__creating-pizza {
		padding: 0 692px/1440px*100% 392px/1440px*100% 0;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.creating-pizza {
	}
	
	.name-of-ingredients{
		width: 140%;
		height: 100%;
		left: 50%;
		top: -14%;
		transform: translate(-50%, 0);
		& img{
			object-fit: cover;
		}
	}

	.ellipse-big{
		width: 150%;
		height: 100%;
		left: 50%;
		top: 10%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}

	.ellipse-small{
		width: 90%;
		height: 100%;
		left: 50%;
		top: 10%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}

	.creating-pizza__red-peppers {
		z-index: 4;
		@include absoluteObject(700px, 1100px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}

	}
	.creating-pizza__cheese {
		z-index: 3;
		@include absoluteObject(1190px, 1100px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}
	.creating-pizza__meatballs {
		z-index: 3;
		@include absoluteObject(892px, 1100px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}
	.creating-pizza__bacon {
		z-index: 3;
		@include absoluteObject(1092px, 1100px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}
	.creating-pizza__pepperoni {
		z-index: 3;
		@include absoluteObject(1092px, 1000px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}
	.creating-pizza__ketchup {
		z-index: 2;
		@include absoluteObject(1190px, 1000px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}
	.creating-pizza__pizza {
		z-index: 1;
		@include absoluteObject(1492px, 992px, 1px, 1px);
		left: 50%;
		transform: translate(-50%, 0);
		& img{
			object-fit: contain;
		}
	}

}



@media(max-width: 982px) {
	.head {
		flex-direction: column;
		align-items: center;
		padding: 10px 0 0 0;
		.logo {
			margin: 0 0 10px 0;
		}
		.menu{
			width: 90%;
			.menu__item{
				font-size: 1.5rem;
			}
		}
	}
}

@media(max-width: 732px) {
	.head {
		flex-direction: row;
		justify-content: space-around;
		.head__open-menu {
			display: inline-block;
			position: relative;
			padding: 0 12% 12% 0;

			& img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.menu {
			position: relative;
			right: 0;
			min-width: 300px;
			width: 70%;
			height: 150px;
			margin: 10px auto;
			flex-direction: column;
			justify-content: space-around;
			display: none;
			border: 1px solid blanchedalmond;
		}
	}
}

@media(min-width: 1500px){
	.head{
		justify-content: space-around;
		padding-left: 0;
		.menu{
			width: 50%;
		}
	}
}


